.contenido {
    max-width:1200px;
	margin:10px auto; 
    padding:0 14px
}

.mitadder{
	padding-left:10px;
}
.mitadizq{
	padding-right:10px;
}
.mitadcentro{
	padding:0 5px
}

.imgmax{
	max-width:100%; margin:auto
}
.margensupinf{margin:56px auto}
.margensup{margin-top:56px}

.icored{
	vertical-align:bottom; width:21px; margin:auto 5px!important
}
.redondeado{border-radius: 6px;}

.mitad{width:50%; float:left}