@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-regular.woff') format('woff');
    font-weight:400;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-bold.woff') format('woff');
    font-weight:bold;
    font-style: normal;
}