@use 'colores';
@use 'mixin';

header {
    background-color: colores.$color-principal;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            @include mixin.no-decoration;
            color: white;
            font-size: 20px;
            margin: 0 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

