@mixin reset {
    padding: 0;
    margin: 0;
    border: 0;
}

@mixin no-decoration {
    text-decoration: none;
}

@mixin imagen-fondo ($imagen, $ancho: 100%, $alto: 100vh) {
    background-image: url($imagen);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: $ancho;
    height: $alto;
}