// @use 'header'; 
@use 'colores';
@use 'fuentes';
@use 'clases';
@use 'header';
 
$fuente: 'montserrat',Arial, sans-serif;

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: $fuente;
}


h1, h2, h3 {
    font-family: $fuente;
}

@media only screen and (max-width:600px){
	.contenido{
		margin:10px 10px
	}
}

