// @use 'header'; 
@use 'colores';
@use 'fuentes';
@use 'clases';
@use 'header';
@use 'footer';
@use 'index';
@use 'mixin';
@use 'rentar';
 
$fuente: 'montserrat',Arial, sans-serif;

* {
    @include mixin.reset();
}


body {
    font-family: $fuente;
}


h1, h2, h3 {
    font-family: $fuente;
}

h2 {font-weight: bold;}

strong {
    color: colores.$color-strong;
}

#inicio, #rentar {
    margin-top: 77px;
}


@media only screen and (max-width:600px){
    h2 {font-size: 20px}
}

